<div class="add-button">
    <button mat-raised-button class="tabs-button" (click)="addTab()"> Add new tab </button>
</div>
<mat-tab-group #tabGroup mat-align-tabs="center" class="mat-tab-fill-height" (selectedTabChange)="onTabChange($event)">
    <ng-container *ngFor="let tab of tabs; let index = index">
        <mat-tab>
            <ng-template mat-tab-label>
                {{ tab.title }}
                <button mat-raised-button class="tabs-button" (click)="removeTab(index)">
                    <mat-icon>clear</mat-icon>
                </button>
            </ng-template>
            <app-tab #tab [tab]="tab" (onLinkClick)="onLinkClick($event)"></app-tab>
        </mat-tab>
    </ng-container>
</mat-tab-group>

